* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
body {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
  grid-template-rows: 1fr 4fr;
}
.sidebar {
  grid-column: 1/2;
  grid-row: 1/3;
  background-color: #1992d4;
}
header {
  grid-column: 2/3;

  background-color: white;
}
.inner-header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  background-color: gray;
}
.input-profile-container {
  display: flex;
  justify-content: space-between;
}
.input-container {
  display: flex;
}
.hello-upload-container {
  display: flex;
  justify-content: space-between;
}
.hi-container {
  display: flex;
}
.upload-container ul {
  display: flex;
  justify-content: space-between;
  gap: 2em;
}
